[submodule "externals/PKMDS"]
	path = externals/PKMDS
	url = git://github.com/codemonkey85/PKMDS.git
[submodule "externals/PKMDS-Win32-DLL"]
	path = externals/PKMDS-Win32-DLL
	url = https://github.com/codemonkey85/PKMDS-Win32-DLL.git
