[submodule "PKMDS-DB"]
	path = externals/PKMDS-DB
	url = https://github.com/codemonkey85/PKMDS-DB.git
[submodule "PKMDS-Win32-DLL"]
	path = externals/PKMDS-Win32-DLL
	url = https://github.com/codemonkey85/PKMDS-Win32-DLL.git
