[submodule "externals/PKMDS"]
	path = externals/PKMDS
	url = git://github.com/codemonkey85/PKMDS.git
[submodule "externals/PKMDS-Win32-DLL"]
	path = externals/PKMDS-Win32-DLL
	url = git@github.com:codemonkey85/PKMDS-Win32-DLL.git
[submodule "externals/PKMDS-DB"]
	path = externals/PKMDS-DB
	url = git@github.com:codemonkey85/PKMDS-DB
[submodule "PKMDS-Win32-DLL"]
	path = PKMDS-Win32-DLL
	url = git@github.com:codemonkey85/PKMDS-Win32-DLL.git
