<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PKMDS_Save_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PKMDS_Save_Editor.Properties.Settings>
            <setting name="veekunpokedex" serializeAs="String">
                <value>veekun-pokedex.sqlite</value>
            </setting>
            <setting name="imagedb" serializeAs="String">
                <value>images.sqlite</value>
            </setting>
        </PKMDS_Save_Editor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
